
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lexend:wght@100..900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

html, body {
    margin: 0;
}

body {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 200px 100vh 200px;
    font-family: "DM Serif Text", serif;
}

header {
    grid-column: 1/11;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    height: 180px;
}

header img {
    height: 100px;
    background-color: #ECF8F6;
    border-radius: 5px;
}

.fa-brands {
    margin: 2rem;
}


nav {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

nav a {
    font-size: 1.5rem;
    padding: 1rem;
} 

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main {
    grid-column: 1/11;
    grid-row: 2/9;
    min-height: 100vh;
    padding: 1.5rem;
    min-height: 100vh;
}

.img-index {
    min-height: 400px;
    width: 100%;

}

footer {
    grid-column: 1/11;
    grid-row: 10/11;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(254, 234, 161, 0.3);
    height: 200px;
}

.footer-top {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer hr {
    width: 80%;

}

.footer-mentions {
    margin: 0;
    font-size: 1rem;
}



a {
    text-decoration: none;
    color: black
}

h1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3.5rem;
    padding: 0;
    margin-top: 3rem;
}

p {
    font-size: 1.7rem;
}

/* ABOUT */

.section-about p {
    width: 40%;
    margin-right: 5vw;
}

.section-about {
    display: flex;
    align-items: center;
}

.contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sentence {
    margin: 20vh;
    font-size: 3rem;
}

.sentence span{
    font-size: 3rem;
    color: #ECF8F6
}


/* SERVICES */

.section-services {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.item-wood {
    background-image: url(/images/2photorealistic-wooden-house-with-timber-structure\ copie.jpg);
    
}

.item-repos {
    background-image: url(/images/services2photorealistic-wooden-house-with-timber-structure\ copie.jpg);
    background-position: left;
}

.item-contenu-repos {
    align-self: flex-end;
}

.item-conception {
    background-image: url(/images/perspective-tree-with-beautiful-canopy-tree-house.jpg);
}



.item-eco {
    background-image: url(/images/rural-house-surroundings-daylight.jpg);
    background-position: bottom;
}

.item-gift {
    background-image: url(/images/services2photorealistic-wooden-house-with-timber-structure\ copie.jpg);
    background-position: left;
}

.item-contenu-gift {
    align-self: flex-end;
}


.item {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.item-contenu {
    width: 50%;
}



.item {
    min-height: 500px;
}


/* CONTACT  */

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.section-contact-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item-contact {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-contact a {
    font-size: 2rem;
    font-family: "DM Serif Text", serif;
}

.item-contact p {
    font-size: 1rem;
}

.item-contact address {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: "DM Serif Text", serif;
}

.map-contact, .form-contact {
    width: 90%;
}

iframe {
    width: 100%;
    height: 500px;
}

h3 {
    font-size: 1.5rem;
}


/* .item-contact {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form-contact {
    width: 92%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;

}

.form-contact-container-img {
    width: 50%;
}

.form-contact img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.container-form {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-infos-item input, .form-infos-message textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ECF8F6;
}

.form-infos-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.form-infos-item input {
    height: 3vh;
    width: 100%;
}

.btn-submit {
    background-color: #ECF8F6;
    border-radius: 10px;
    border: none;
    width: 20%;
    height: 30px;
}















/* ENGAGEMENTS  */

.section-engagements {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 250px);
}

.item-engagement {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem;
}

.item-engagement-paragraphe {
    grid-column: 3/6;
    grid-row: 1;
    font-size: 2rem;
    padding: 3rem;
    margin: 0;
}

.item-engagement-paragraphe2 {
    grid-column: 3/6;
    grid-row: 2;
    font-size: 1.8rem;
    padding: 3rem;
    padding-top: 0;
    margin: 0

}

.item-engagement-1 {
    grid-column: 1/3;
    grid-row: 1;
}

.item-engagement-2 {
    grid-column: 1/4;
    grid-row: 3;
}

.item-engagement-3 {
    grid-column: 4/6;
    grid-row: 4;
}

.item-engagement-4 {
    grid-column: 3/6;
    grid-row: 5;
}

.paragraphe-final {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 2rem;
    font-size: 2rem;
    color: white
}

.paragraphe-final span {
    font-size: 2.5rem;
    color: #ECF8F6;
}



.section-engagements img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


.engagements-picture-1 {
    grid-column: 2;
    grid-row: 2;
}

.engagements-picture-2 {
    grid-column: 1;
    grid-row: 2;
}

.engagements-picture-3 {
    grid-column: 1/4;
    grid-row: 4;
}

.engagements-picture-4 {
    grid-column: 3/6;
    grid-row: 6;
}

.engagements-picture-5 {
    grid-column: 4/6;
    grid-row: 3;
}




/* RESPONSIVE TABLETTE */


@media only screen and (max-width: 1200px) {

/* HEADER ET FOOTER ET H1*/

h1 {
    font-size: 2.5rem;
}

header a {
    font-size: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

.icons-link {
    display: flex;
    flex-direction: column;
}

footer, footer a, footer p, footer h3 {
    font-size: 1rem;
}

/* PAGE ENGAGEMENTS */

.section-engagements p {
    font-size: 1rem;
}

.section-engagements .paragraphe-final {
    font-size: 1.2rem;
}

.section-engagements span {
    font-size: 1.8rem;
}

/* PAGE CONTACT */

.section-contact-top a {
    font-size: 1.1rem;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-infos-item {
    width: 50%;
}

form {
    width: 100%;
}

}

@media only screen and (max-width: 430px) {

/* HEADER FOOTER  */

h1 {
    font-size: 1.8rem;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: 50px 50px;
    padding-top: 2rem;
}

nav a {
    font-size: 0.9rem;
}

footer {
    padding: 1rem;
}

.footer-top {
    display: flex;
    gap: 2rem;
}

/* SECTION A PROPOS  */



.section-about p{
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.section-about span {
    font-size: 1.5rem;
}

/* SECTION SERVICES  */

.container-top {
    margin: 0.7rem;
}

.container-top p {
    font-size: 1.5rem;
}

.item p {
    font-size: 1rem;
}

/* SECTION NOS ENGAGEMENTS  */

.section-engagements {
    display: flex;
    flex-direction: column;
}

.section-engagements p {
    font-size: 1.2rem;
    padding: 0;
}

.engagements-picture {
    display: none;
}

.paragraphe-final {
    color: black;
}

/* SECTION CONTACT  */

.section-contact-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-p {
    font-size: 1.2rem;
    text-align: center;
}

.item-contact h3 {
    font-size: 0.8rem;
}

.item-contact {
    text-align: center;
    width: 90%;
    margin: 0;
}

.map-contact {
    width: 90%;
    height: 60vh;
}

.form-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contact-container-img {
    width: 100%;
    height: 200px;
}

.form-contact-container-img img {
    border-radius: 10px 10px 0 0;
}

.container-form {
    width: 100%;
}

form textarea {
    width: 80%;
}

.form-infos-item, .form-infos-message, .form-infos-checkbox {
    width: 80%;
}











}


